
*{
	margin:opx;
	padding:opx;
	font-family: verdana;	
}

/*.................................................*/

/*...................inicio........................*/

#inicio{/*cabezera*/
	background-color:#150000;/*ojo color*/
	width: auto;
	height:170px;	
	border-radius:20px 20px 20px 20px;
}
#main-header {
	height: 80px;
	width: 100%; /* hacemos que la cabecera ocupe el ancho completo de la página */
	
	position: fixed; /* Hacemos que la cabecera tenga una posición fija */
}	
.titulo{	
	color: #ffffff;
	font-family: Segoe UI;
	font-weight: bolder;
	text-align: center;
}
header{/*color ataras*/
	margin:20px auto; 
	width:750px;
	height:150px;
	background-color:white;/*ojo color*/	
	}

div.contenedor{
	width: 260px; /*150*/
	height: 150px;
	float: left;
	-webkit-transition: height .4s;
	border-radius:60px 60px 60px 60px;
}

div#uno{
	background-color: rgb(208,101,3);
}

div#dos{
	background-color: rgb(233,147,26);
}

div#tres{
	background-color: rgb(22,145,190);
}

div#cuatro{
	background-color: rgb(22,107,162);
}

div#cinco{
	background-color: rgb(27,54,71);
}

img.icon{
	display: block;
	margin:10px auto;
	background-color: rgba(255,255,255,.15);
	width:40px;
	padding:20px;
	-webkit-border-radius: 50%;
	-webkit-box-shadow: 0px 0px 0px 30px rgba(255,255,255,0);
	-webkit-transition:box-shadow .4s;
}

p.texto{
	font-size: 1.2em;
	color:white;
	text-align: center;
	padding-top:1px;
	opacity: .6;
	font-family: Segoe UI;
	-webkit-transition: padding-top .4s;
}
div.contenedor:hover{
	height:170px;
}
div.contenedor:hover p.texto{
	padding-top: 10px;
	opacity: 1;
}

div.contenedor:hover img.icon{
	-webkit-box-shadow:0px 0px 0px 0px rgba(255,255,255,.6);
}
/*.................................................*/

/*...................galeria........................*/


/*.container{
	margin:10px auto; 
	width: 750px;
	height: 520px;
	padding: 20px;
	border:solid 1px #0b0b0b;
	margin:auto;
	background-color:#f1f1f1;

}*/

/*posicion una tras otra*/
#slider > div{
	position: absolute;
	width: 100%;
	heigth:100%;	
}

#slider{
position: relative;
width:600px;
height:400px;
padding:30px;/*agrandar borde negro igual*/
background-color: rgb(27,54,71);
margin:0 auto;
}



/*...................palabras........................*/
#cont{
				
				 background-color:#f1f1f1;
				   padding:10px; /*tamaño del borde*/
				   width:50%;						
				   height:200px;
				text-align: center;
				width: 70%;
  				margin: 0 auto;
  				font-style:italic;

}

#abajo{
	background-color:black;/*ojo color*/

	width: auto;
	height: 120px;/*tamaño de color hacia abajo*/
	text-align: center;
	font-family: Segoe UI;
	color:white;/*palabras*/
}

/*...................Registrar usuario.......................*/

@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}
.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form .button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
  background: #43A047;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: #4CAF50;
  text-decoration: none;
}
.form .register-form {
  display: none;
}


.sombra{
	background-color:#ffffff;/*color de la sombra contenedor*/
	padding:20px;
	width:850px;
	margin: auto;/*para centrar*/
	display: none;
}
.inscribirse{
	background-color:#FFF;
	WIDTH: 400PX;
	padding:10px;
	border: solid 1px #ccc;
	margin: auto;
	}
	
