<html>
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="css/styleind.css">

</head>
<body>

	<div class="paragraph" style="text-align:center;"><strong><font color="#3f3f3f"><u><font size="4">Informes:</font></u></font><br><font color="#3f3f3f"><font size="5">Jr. Pachacútec 351 Urb. El Trébol, Los Olivos. Telf. 533-7646</font></font><font color="#3f3f3f"><br><u><font size="4">Horario de atención:</font></u><br><font size="4">Lunes a Viernes de 8 am. a 5 pm.</font><br><u><font size="4">E-mail:<br>&#8203;</font></u><font size="4">colegiodivinamisericordia@hotmail.com</font></font></strong></div>



	<div id="cont">
			<h1>Sistema de Matricula</h1>

			<hr>
			<marquee behavior="alternate">Infórmate y Lee</marquee>
			<br>
			<p>Este sistema tiene la facilidad de facilitar los trámites legales de las matriculas a los diferentes 
			ramas a los estudiantes en beneficio de nuestro perspectiva de este sistema.</p>
			
			</div>

</body>

</html>